@page "/register"
@rendermode InteractiveServer

<div class="wrapper">
    <div class="section-heading">
        <h2>Grow with us.</h2>
        <p>Join our community of local farmers today.</p>
    </div>

    <div class="left-section">
        <h2>Farmer Registration</h2>
        <p>Complete these steps to start showcasing your fresh produce to the neighborhood.</p>

        <div class="steps-column">
            <div class="step">
                <h3>Step 1</h3>
                <p>Account & Contact</p>
            </div>
            <div class="step">
                <h3>Step 2</h3>
                <p>Farm Identity</p>
            </div>
        </div>
    </div>

    <div class="right-section">
        <div class="account-contact">
            <label for="fullName">Full Name of Authorized Representative</label>
            <input type="text" placeholder="e.g. Charisse Jamien Alagbay">
            <label for="contactNumber">Contact Number</label>
            <input type="text" maxlength="11">
            <label for="email">Email Address</label>
            <input type="email" placeholder="cjmn@gmail.com">
        </div>

        <div class="farm-identity">
            <label for="farmName">Farm Name</label>
            <input type="text" placeholder="e.g. Green Valley Organics">
            <label for="farmBio">Farm Bio</label>
            <input type="text">
            <label for="location">Location</label>
        </div>
    </div>
</div>