@inherits LayoutComponentBase

<div class="header">
    <h1>Rooted Local</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/farmers">Farmers</a>
        <a href="/marketplace">Marketplace</a>
        <a href="/about">About</a>
    </nav>
    <div>
        <input type="text" placeholder="Search farmer or produce...">
        <button>Sign Up</button>
    </div>
</div>


@Body


<div class="footer">
    <div class="footer-content">
        <h1>The Rooted Local</h1>
        <p>Supporting local families, nourishing our soil, and bringing the freshest bounty from our fields to your table.</p>
        <p ckass="copyright">2026 The Rooted Local Farm & Store. All rights reserved.</p>
    </div>
</div>