
<div class="wrapper">
    <div class="left-section">
        <h3>OUR MISSION</h3>
        <h2>Straight From the Field</h2>
        <p>Our mission is to empower local farmers by cutting out the middleman.
        Buying direect helps farmers earn more and ensures your family gets the
        highest quality, freshest food available.</p>
        <div class="benefits-row">
            <div class="benefit">
                <h3>Better for Farmers</h3>
                <p>Keep 100% of aking price.</p>
            </div>
            <div class="benefit">
                <h3>Fresher for You</h3>
                <p>Same-day harvest delivery.</p>
            </div>
        </div>
    </div>
    <div class="right-section">
        <img src="/images/Mission.png" alt="Farmer">
    </div>
</div>