@inject Supabase.Client SupabaseClient


<h2>Discover Fresh Local Produce</h2>
<p>Showing @itemCount farms near you in Cebu</p>


@code {

    private int itemCount;
    protected override async Task OnInitializedAsync()
    {
        await loadCount();
    }

    private async Task loadCount () {

        itemCount = await SupabaseClient.From<ProduceItem>().Count(Postgrest.Constants.CountType.Exact);
    }

}