@inject Supabase.Client SupabaseClient



<div class="wrapper">
    @foreach (var item in inventory) {
        <div class="produce-card">
            <div class="produce-img"></div>
            <h2 class="farm-name">@item.Name</h2>
            <p class="location">@item.Quantity</p>
            <div class="price-row">
                <div>
                    <h2 class="price">@item.Price</h2>
                    <p class="unit">@item.Unit</p>
                </div>
                <div>
                    <button>View Farm</button>
                </div>
            </div>
        </div>
    }
</div>


@code {

    private List<ProduceItem> inventory = new List<ProduceItem>();

    protected override async Task OnInitializedAsync() {
        await LoadInventory();
    }

    private async Task LoadInventory() {
        var response = await SupabaseClient.From<ProduceItem>().Get();
        inventory = response.Models;
    }
}