

<div class="wrapper">
    <div class="cardImg">
        </div>
    <div class="produceCard">
        <p class="farm">Green Valley Farm</p>
        <p class="distance">5.8 km away</p>
        <div class="cardDetails">
            <div>
                <p class="price">$3.50</p>
                <p class="unit">per kg</p>
            </div>
            <div>
                <button>View Farm</button>
            </div>
        </div>
    </div>
</div>